#ignore media files
*.jpg
*.png
*.mp4
*.jgeg

#ignore zip files 
*.zip

#ignore ven
.venv/*	
content/*
db/*
fine_tuned_model/*
.venv/lib/python3.8/site-packages/tensorflow/python/_pywrap_tensorflow_internal.so
tmp/*
*.so
*.whl
